<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sailing on node</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!--SCRIPTS END-->
  </head>
  <body>
    <div ng-app="Platzi" ng-controller="BaseCtrl">
      <h2><%= user.screenName %></h2>

      <ul>
        <!-- <li ng-repeat="emoji  in emojis">
          <span>{{ emoji.text }}</span>
        </li> -->

        <% _.each(emojis, function(emoji){%>
        <li><%= emoji.text %></li>
        <% }) %>
      </ul>

      <% if(!session.me){%>
      <a href="<%twitterLoginUrl%>">Login with Twitter</a>
      <%}%>
    </div>
  </body>
</html>
