<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sailing on node</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!--SCRIPTS END-->
  </head>
  <body>
    <div class="card-body offset-md-3" ng-app="Platzi" ng-controller="BaseCtrl">
      <h2 class="text-info"><%= user.screenName %></h2>
      <% if(!session.me){%>
      <a href="<%= twitterLoginUrl %>">Login with Twitter</a>
      <%}%>

      <ul>
        <div class="card col-4">
          <div class="card-body">
            <h3>All Emojis</h3>
            <ul class="list-group">
              <li
                class="list-group-item text-center"
                ng-repeat="emoji  in emojis"
              >
                <span>{{ emoji.text }}</span>
              </li>
            </ul>
          </div>
        </div>

        <h3>Emojis by Phil</h3>
        <% _.each(emojis, function(emoji){%>
        <div class="card col-4">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item text-center"><%= emoji.text %></li>
            </ul>
          </div>
        </div>

        <% }) %>
      </ul>
    </div>
  </body>
</html>
